.cus {
    background-image:url(../img/elements/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.cus-CS-01 {
    width: 125px;
    height: 125px;
    background-position: -5px -5px;
}

.cus-ET-01 {
    width: 125px;
    height: 125px;
    background-position: -140px -5px;
}

.cus-FD-01 {
    width: 125px;
    height: 125px;
    background-position: -275px -5px;
}

.cus-IB-01 {
    width: 125px;
    height: 125px;
    background-position: -410px -5px;
}

.cus-TDA-01 {
    width: 125px;
    height: 125px;
    background-position: -545px -5px;
}
